In [10]:
%pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp39-cp39-win_amd64.whl (2.1 MB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dany\appdata\roaming\python\python39\site-packages (from sqlalchemy) (4.14.1)
Collecting greenlet>=1; python_version < "3.14" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))))
  Downloading greenlet-3.2.3-cp39-cp39-win_amd64.whl (296 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.2.3 sqlalchemy-2.0.41
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 25.1.1 is available.
You should consider upgrading via the 'c:\Users\Dany\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
#TODO:from .load_data import get_connection_string

Read one of the views (vw_onet_closest_oews is fine) via pandas.read_sql.

In [2]:
const = {
    ## TODO: find a better way to access this data in JSON- place holder is xlsx file in project folder
    "oews_source": "https://www.bls.gov/oes/tables.htm", ## state labor data for MD
    "oews_local": "./Data/oesm24st/state_M2024_dl.xlsx",
    "onet": "https://www.onetcenter.org/database.html#individual-files",
    "onet_local": "./Data/Skills.xls",
    ## TODO: put sensetive consts in protected folder and allow for enviromental differences
    "db_user": "admin",
    "db_password": "admin",
    "db_host": "localhost",
    "db_port": "5432",
    "db_name": "oews_onetA",
}

def get_connection_string():
     """
    connection string builder
    
    Returns:
    String path link to access db
    """
     return f'postgresql://{const["db_user"]}:{const["db_password"]}@{const["db_host"]}:{const["db_port"]}/{const["db_name"]}'

In [3]:
def read_view_to_dataframe(view_name):
    try:
        engine = create_engine(get_connection_string())
        # Define the SQL query to read from the view
        sql_query = f"SELECT * FROM {view_name};"
        
        # Read the SQL view into a DataFrame
        df = pd.read_sql(sql_query, engine)
        
        return df
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        # Dispose of the engine to close the connection
        engine.dispose()

In [6]:
dataframe = read_view_to_dataframe("vw_onet_closest_oews")
display(dataframe)

An error occurred: (psycopg2.errors.UndefinedTable) relation "vw_onet_closest_oews" does not exist
LINE 1: SELECT * FROM vw_onet_closest_oews;
                      ^

[SQL: SELECT * FROM vw_onet_closest_oews;]
(Background on this error at: https://sqlalche.me/e/20/f405)

None

In [17]:
dataframe = read_view_to_dataframe("vw_oews_avg_over_onet")
display(dataframe)

Empty DataFrame
Columns: [occ_code, avg_a_mean, total_employment, onetsoc_code]
Index: []

In [5]:
dataframe = read_view_to_dataframe("oews_raw")
display(dataframe.shape)

(0, 6)

In [4]:
dataframe = read_view_to_dataframe("onet_skills")
display(dataframe.shape)

(0, 5)

In [ ]:


Perform a brief aggregation or visualization, e.g. average wage by major group, 
top 10 SOC codes by predicted wage, etc.

A few comments interpreting the result are welcome.

In [ ]:
avg_wage_by_group = average_weight = df.groupby('Group')['Weight'].mean().reset_index()

threshold = average_weight['Average Weight'].quantile(0.9)

top_10_percent_groups = average_weight[average_weight['Average Weight'] > threshold]